{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: rgb(207, 228, 228);
    }
    .container{
        position: relative;
        max-width: 720px;
        width: 100%;
        background: white;
        border-radius: 10px;
        box-shadow: 12px 12px 12px grey;
        padding: 25px 30px;
    }
    .container .form{
        padding: 30px;
    }
    .title{
        position: relative;
        font-size: 27px;
        font-weight: 600;
    }
    .title::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background-color: rgb(207, 228, 228);
        border-radius: 25px;
    }
    .btn{
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background: black;
        color: white;
        border-radius: 5px;
        font-weight: bold;
    }
    .btn:hover{
        background: gray;
        border: none;
        color: black;
    }
    li{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: red;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="body">
    <div class="container">
        <span class="title">Membuat Task Baru</span>
        <form action="" method="post">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-borderless">
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input class="btn" type="submit" value="Buat Task"></td>
                    </tr>
                </table>
            </div>
        </form>
        <p class="my-2">Kembali ke halaman utama? <a href="{% url 'todolist:show_todolist' %}" class="text-decoration-none">Ya</a></p>
    </div>
</div>
{% endblock content %}