{% extends 'base.html' %}

{% block content %}
<h1>Lab 2 Assignment PBP/PBD</h1>

<h5>Nama: </h5>
<b>{{nama}}</b>
<h5>Student ID: </h5>
<p>{{NPM}}</p>

<table>
    <tr>
        <th>Sudah/Belum</th>
        <th>Judul</th>
        <th>Rating</th>
        <th>Tanggal Rilis</th>
        <th>Review</th>
    </tr>
    {% comment %} Mencetak data ke dalam tabel {% endcomment %}
    {% for film in list_tontonan %}
    <tr>
        <th>{{film.watched}}</th>
        <th>{{film.title}}</th>
        <th>{{film.rating}}</th>
        <th>{{film.release_date}}</th>
        <th>{{film.review}}</th>
    </tr>
    {% endfor %}
</table>

{% endblock content %}